  
extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Natalie Hitchcock

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | I am a new developer with a background in graphic design. I have an associate's from Front Range Community College, and have always had a desire to learn.
            |I have been described as kind, hardworking, outgoing and determined. When I am given a task, I will rise to the challenge and won't stop until I've given it my all.
          p
            B “To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.” ― Ralph Waldo Emerson
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li Node.js
          li HTML/CSS
          li AJAX
          li Fetch API
          li jQuery
          li ES2015
          li GIT
          li npm

        h6 Contact Info

        ul
          li 303.827.1578
          li nataliemhitchcock@yahoo.com

        
        a.button.expanded(href='https://www.linkedin.com/in/natalie-hitchcock-53779a85/') LinkedIn
        a.button.expanded(href='https://github.com/nataliehitchcock') GitHub
        a.button.expanded(href='https://twitter.com/punkchick101') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  